<div class="row row-cols-1 row-cols-md-4 g-4">
    <a (click)="showAll()">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Show All</h5>
          </div>
        </div>
      </div>
    </a>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4" *ngIf="showALL"> 
    <app-product-details 
    *ngFor="let product of data; let i = index"
    [product]="product"
    ></app-product-details>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4" *ngIf="!showALL"> 
    <app-product-details [product]="singleProduct"></app-product-details>
</div>